<!-- application/index -->
<!DOCTYPE html>
<html>
  <head>
    <title>LectureRequester</title>
    <!-- <style>
      body {
          background-image: url('assets/images/background/question_marks.png') !important;
      }
    </style> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
<!-- trying to add background -->
  <body style="background-image:url('assets/question_marks.jpg')" ng-app="lecture_requester" ng-controller="HomeController">
    <nav-bar></nav-bar>

    <%=yield%>
    <ui-view></ui-view>
    <!-- <%= image_tag('background/question_marks.png') %> -->
  </body>
</html>
